.bd-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1071;

  .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #444;
    text-decoration: none;
  }

  .subnav-search {
    color: #343a40;
  }
}
