.text-blue { color: $text-blue !important; }
.text-gray-dark { color: $text-gray-dark !important; }
.text-gray-light { color: $text-gray-light !important; }
.text-gray { color: $text-gray !important; }
.text-green { color: $text-green !important; }
.text-orange { color: $text-orange !important; }
.text-orange-light { color: $text-orange-light !important; }
.text-purple { color: $text-purple !important; }
.text-red { color: $text-red !important; }
.text-white { color: $text-white !important; }
